In [1]:
import json
import pandas as pd

from DBUpdater import DBUpdater
from crawler import Crawler

In [2]:
def getBaekjoonData(crawler):
    crawler.login_solved()
    df = crawler.read_solved()
    
    return df

In [3]:
def updateDBBaekjoon(dbupdater, df):
    dbupdater.replace_into_db(df)

In [4]:
with open('info.json', 'r') as file:
    data = json.load(file)
    db_pw = data['db_info']['pw']

    id = data['user_info']['id']
    pw = data['user_info']['pw']

In [8]:

crawler = Crawler(id, pw)

In [9]:
df=getBaekjoonData(crawler)

백준 문제 크롤링 완료

In [10]:
len(df)

4543

In [15]:
df[df['level']==3]

     number        title  isSolved  level  attempt
135    1085    직사각형에서 탈출     False      3    41876
136    1247           부호      True      3     3162
137    1267       핸드폰 요금     False      3     6817
138    1284         집 주소     False      3     3491
139    1547            공     False      3     7999
..      ...          ...       ...    ...      ...
368   26145      출제비 재분배     False      3      385
369   26264  빅데이터? 정보보호!     False      3      582
370   26645   성장의 비약 선택권     False      3      433
371   27159        노 땡스!     False      3      805
372   27465     소수가 아닌 수     False      3      599

[238 rows x 5 columns]

In [17]:
df.to_csv('baekjoon_info.csv', encoding='utf8')

In [5]:
df = pd.read_csv('baekjoon_info.csv')

In [5]:

dbupdater = DBUpdater(db_pw)

In [6]:
number, title = dbupdater.select_problem()

c:\Users\Kyeul\Desktop\code\Automation_repo-master\Automation_repo-master\깃헙인증_자동화\DBUpdater.py:101: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, self.conn)

In [7]:
query = f"""
백준 {number}, '{title}' 파이썬으로 풀어줘.
입력 예시는 작성 하지마.
출력 예시도 작성 하지마.
설명도 작성 하지마.
코드만 작성해줘.
"""

In [8]:
print(query)

백준 1004, '어린 왕자' 파이썬으로 풀어줘.
입력 예시는 작성 하지마.
출력 예시도 작성 하지마.
설명도 작성 하지마.
코드만 작성해줘.

In [9]:

import openai

with open('info.json', 'r') as file:
    data = json.load(file)
    key = data['openai-api']['key']


openai.api_key = key

In [12]:
dbupdater.plus_attempt(number)

1004문제의 시도 횟수: 1

In [10]:
response = openai.ChatCompletion.create(
  model="gpt-3.5-turbo",
  messages=[{"role":"user", "content":query}]
)
result = response['choices'][0]['message']['content']
print(result)

import math

T = int(input())

for _ in range(T):
    x1, y1, x2, y2 = map(int, input().split())
    n = int(input())
    count = 0

    for i in range(n):
        cx, cy, r = map(int, input().split())
        d1 = math.sqrt((cx-x1)**2 + (cy-y1)**2)
        d2 = math.sqrt((cx-x2)**2 + (cy-y2)**2)
        if (d1 < r and d2 > r) or (d1 > r and d2 < r):
            count += 1

    print(count)

In [13]:
dbupdater.update_isSolved(number)

f{number} 문제를 해결했습니다.

In [36]:
with open('result.txt', 'w', encoding='utf8') as f:
    f.write(result)

In [1]:
import json

from DBUpdater import DBUpdater
from crawler import Crawler
from run_gpt import RunGPT

In [10]:
def getBaekjoonData(crawler):
    # 솔브드 크롤링
    # 웹에 로그인 한 뒤 데이터를 모은다.
    crawler.login_solved()
    df = crawler.read_solved()
    
    return df

def updateDBBaekjoon(dbupdater, df):
    dbupdater.replace_into_db(df)


def get_solution_baekjoon_with_GPT(dbupdater, runGPT):
    number, title = dbupdater.select_problem() # DB에서 적정 문제 가져오기

    query = f"""
            백준 {number}, '{title}' 파이썬으로 풀어줘.
            입력 예시는 작성 하지마.
            출력 예시도 작성 하지마.
            설명도 작성 하지마.
            코드만 작성해줘.
            """
    result_code = runGPT.run(query)

    with open(f'{number}_solution.py', 'w') as f:
        f.write(result_code)

In [4]:
with open('info.json', 'r') as file:
    data = json.load(file)
    db_pw = data['db_info']['pw']

    id = data['user_info']['id']
    pw = data['user_info']['pw']

    key = data['openai-api']['key']

In [5]:
dbupdater = DBUpdater(db_pw)
runGPT = RunGPT(key)

In [11]:
get_solution_baekjoon_with_GPT(dbupdater, runGPT)

c:\Users\Kyeul\Desktop\code\Automation_repo-master\Automation_repo-master\깃헙인증_자동화\DBUpdater.py:101: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, self.conn)